@import url('../style/reset.css');

body{
    width: 100%;
	line-height: 1.6;
	font-size: 16px;
    /* background-color:  #E8DCC8; */

}
.wrapper{
    width: 100%;
   
    margin: 0 auto;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
/* ------section1 block----- */

/* ------section2 block----- */
.section2{
    background-color: #B1B9A3;
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}
.section2 .woodboard{
    margin-left: 25px;
    margin-right: 0;
}
.section2 .woodboard a{
    text-decoration: none;
    color: #000;

}
.section2 .woodboard a:hover{
    color: #995316;
}
.section2 .s-center a{
    text-decoration: none;
}
.section2 a .wood{
    width: 45px;
    height: 150px;
    background-image: url(../img/02shop/wood01.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;

}
.wood p{
    text-align: center;
    padding-top: 30px;
}

/* ---- s-center ---- */
.s-center{
text-align: center;
}
.s-center img{
    max-width: 500px;
    margin-bottom: 20px;
}

.s-center .center-bottom img{
    width: 80px;
    height: 80px;
    margin: 0 5px;
}
.s-center .center-bottom img:hover{
    box-sizing: border-box;
    border: 1px solid #6B7F5A;
}

/* ---- s-right ---- */

.s-right{
    width: 450px;
}
.s-right .top{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 420px;
}
.s-right .top h1{
    margin: 20px 0 30px;

}
.s-right .top a{
   
}
.s-right .top img{
    width: 25px;
}
.s-right .top img:hover{
   
    
}
.s-right h1{
    margin-bottom: 10px;   
}
.s-right h4{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 8px;
  
}
.s-right .line01{
    border-top: .5px solid rgb(143, 143, 143);
    width: 430px;
    margin: 25px 0;
}
.s-right h3{
    padding: 10px 0;
}
.s-right select{
    width: 430px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 165px;
    -webkit-appearance: none;
    appearance: none;
    
}
.s-right .inputbox{
    width: 430px;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 215px;
}
.s-right .button{
    width: 430px;
    
}

.s-right .button a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 45px;
    flex: 20px;
    margin: 30px 0;
}
.s-right .button a:hover{
    outline: 2px solid  #6B7F5A;
}
.s-right .button a:nth-child(1){
    width: 140px;
    height: 45px;
    background-color: #fff;
    margin-right: 40px;
 
}
.s-right .button a:nth-child(2){
    width: 243px;
    height: 45px;
    background-color: #E2CFA9;

}

.s-bottom{
    background-color: #B1B9A3;
    margin: 0 auto;
    width: 100%;

}
.s-bottom .buttom{
   width: 700px;
   margin: 0 auto;
   text-align: center;
   
}
.s-bottom .buttom a{
    display: inline;
    text-decoration: none;
    color: #000;
    /* background-color: rgb(146, 78, 78); */
    letter-spacing: 2px;
    margin: 0 80px;
}
.s-bottom .line02{
    border-top: 1px solid #000;
    width: 700px;
}

.s-bottom .line03{
    border-top: 5px solid #000;
    width: 200px;
    margin-left: 14%;
    background-color :#F6F0E3;
}
/*------------- section 3 -----------*/
.section3{
    background-color: #F6F0E3;
}
.section3 .pics{
    padding: 50px 0;
    
}
.section3 .pics img{
    max-width: 650px;
    width: 100%;
    display: block;
    margin: 0 auto ;
}
.section3 .pics img:first-child{
    padding-bottom: 50px;
}
.section3 .text{
    display: flex;
    width: 750px;
    margin: 0 auto;
    justify-content:space-between;
    padding-bottom: 50px;
}
.section3 .t-left{
    width: 340px;
}
.section3 .t-right{
    width: 340px;
}

/*------------- section 4 -----------*/
.section4{
    width: 100%;
    background-color: #ACB6A1;
}
.section4  h1{
    text-align: center;
    padding-top: 60px;
}
.maylike{
   padding: 50px 0;
}
.section4 .maylike ul{
    display: flex;
    justify-content: space-around;  
}
.section4 .maylike li{
    text-align: center;
    padding-bottom: 20px;
    
}
.maylike li img{
    width: 200px;
}
.maylike li img:hover{
    outline: 2.5px solid  #6B7F5A;
}



/* tab-block */

.section3 .container{
    /* width: 800px; */
    margin: 0 auto;
  }

.section3  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    background-color: #E2CFA9
  }
.section3  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

.section3 ul.tabs li.current{
    /* background: #ededed; */
    color: #6B7F5A;
    background-color:  #F6F0E3;
  }

.section3  .tab-content{
    display: none;
    /* background: #ededed; */
    padding: 15px;
  }

.section3  .tab-content.current{
    display: inherit;
    text-align: center;
    padding: 65px 0;
  }
  .tab-content.current p{
      padding-bottom: 20px;
  }
 
  
  /* ===============  RWD  ================== */
@media (max-width:714px){
    .section2{
        flex-direction: column;
     }
     .s-right{
         max-width: 450px;
         width: 100%;
         margin: 0 auto;
     }
     .section2 .woodboard{
         margin: 0 auto;
         display: inline-flex;
     }
     .section2 .woodboard a {
         margin: 0 15px;
     }
    .section4 .maylike ul {
        flex-wrap: wrap;
    }
    .section3 .text {
        width: 100%;
        flex-direction: column;
    }
    .section3 .t-left {
        max-width: 340px;
        margin: 0 auto;
    }
    .section3 .t-right {
        max-width: 340px;
        margin: 0 auto;
    }
    .s-center img {
        max-width: 500px;
        width: 100%;
    }
    .s-right .top {
        max-width: 420px;
        width: 100%;
    }
    .s-right .top img{
        padding-right: 10px;
    }
    .s-right .line01 {
        max-width: 430px;
        width: 100%;
    }
    .s-right select {
        max-width: 430px;
        width: 100%; 
    }
    .s-right .inputbox {
        max-width: 430px;
        width: 100%;
    }
    .s-right .button{
        max-width: 430px;
        width: 100%;
    }
    .s-right .top h1{
        margin: 20px 5px 30px;
    }
    .s-right h4{
        margin-left: 5px;
    }
    .s-right p{
        margin-left: 5px;
    }
    .s-right h3{
        margin: 0 5px;
    }
    h2 {
        font-size: 20px;
        margin-left: 5px;
    }
}
@media (min-width:715px) and (max-width:849px){
    .section2{
        flex-direction: column;
     }
     .s-right{
         max-width: 450px;
         width: 100%;
         margin: 0 auto;
     }
     .section2 .woodboard{
         margin: 0 auto;
         display: inline-flex;
     }
     .section2 .woodboard a {
         margin: 0 15px;
     }
    .section4 .maylike ul {
        flex-wrap: wrap;
    }
    .section3 .text {
        width: 100%;
    }
    .section3 .t-left {
        max-width: 340px;
        margin-left: 20px;
    }
    .section3 .t-right {
        max-width: 340px;
        margin-right: 20px;
    }
}

@media (min-width:850px) and (max-width:1040px){
    .section2{
       flex-direction: column;
    }
    .s-right{
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .section2 .woodboard{
        margin: 0 auto;
        display: inline-flex;
    }
    .section2 .woodboard a {
        margin: 0 15px;
      
    }
  }

  /* ========= nav bar ========= */

    /* ====== inside-menu ===== */
    .nav{
        position: relative;
    }
    ul.inside-menu{
        /* display: block; */
        width: 40%;
        position: absolute;
        right: 0px;
        top: 144px;
        background-color: #E2CFA9;
        opacity: .8;
        transition: .8s;
        z-index: 33;
        animation: change 0.3s ease-in;
    }
    @keyframes change {
        0%{
            opacity: 0;
        }
        100%{
            opacity: .8;
        }
    
    }
    
    ul.inside-menu li{
        height: 50px;
    }
    ul.inside-menu li a{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
        border-bottom: 1px solid #fce8c3;
    }
    .nav .inside-menu .btn{
        position: relative;   
    }
    .nav .inside-menu .btn1 i{
        position: absolute;
        top: 40%;
        left: 20%;
        opacity: 0;
    }
    .nav .inside-menu .btn2 i{
        position: absolute;
        top: 40%;
        left: 20%;
        opacity: 0;
    }
    .nav .inside-menu .btn3 i{
        position: absolute;
        top: 40%;
        left: 20%;
        opacity: 0;
    }
    .nav .btn:hover i, .nav .btn.active i{
        opacity: 1;
    } 
    
    @media (max-width:990px){
        .nav ul.menu{
            display: none;
        }
        .nav .hamburger{
            display: block;
        }
    }
    @media (min-width:991px){
        .nav .hamburger{
            display: none;
        }
        .nav .media_none{
            display: none;
        }
    }
    