@import url('../style/reset.css;');

body{
    width: 100%;
	line-height: 1.6;
	font-size: 16px;
    /* background-color:  #E8DCC8; */

}
.wrapper{
    width: 100%;
    /* min-width: 1160px; */
    margin: 0 auto;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 18px;
}

/* ------section1 block----- */
.section1{
    background-color:   #E2CFA9; 
    /* overflow: hidden; */
}
.container{
    width: 100%;
    height: 100%;
}
.container .img-block img{
    display: block;
    width: 100%;
}
.section1 .slick-block{
    cursor: pointer;
}
.slick-block .slick-dots {
    position: relative;
    bottom: 0px;
    display: block;
    background-color: #E2CFA9;
    padding-bottom: 15px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
/* ------section2 block----- */
.section2{
    background-image: url(../img/04outpatient/poc05.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}
.section2 .cover{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(230, 230, 230);
    padding: 100px 0;
}
.section2 img{
    width: 100%;
    display: block;
}

.section2 .cover h1{
   margin-bottom: 10px;
}
@media (max-width:575px ){
    .section2{
        background-attachment: initial;
        background-size: cover;
    }
}

/* ------section3 block----- */
.section3{
    background-image:linear-gradient(180deg,rgba(216, 219 ,208) 0%, rgba(107, 127 ,90) 100%);
}
/* <top> */
.top{
    display: flex;
    justify-content: center;
    padding-top: 100px;
 }
 .top .top-left{
     padding-top: 200px;
     min-width: 265px;
     box-sizing: border-box;
 }
 .top .top-right{
     box-sizing: border-box;
 }
 .top span{
     font-size: 48px;
 }
 .top h2{
     text-align: left;
 }
 .top img{
     width: 100%;
     display: block;
     min-width: 265px;
 }
 .t-margin{
     margin: 10px;
 }
 @media screen and (max-width:575px ){
     .top{
         flex-direction: column;
         padding-top: 0;
     }
     .top .top-left{
         width: 100%;
         min-width: 265px;
         padding: 10px;
         /* box-sizing: border-box; */
     }
     .t-margin{
         margin: 0;
     }
 }
 @media  (min-width:576px) and (max-width: 1160px){
         .top .top-left{
             /* width: 50%; */
             max-width: 360px;
             padding-top: 25%;
         }   
         .top-right img{
             display: block;
             width: 100%;
             /* max-width: 400px; */
         }
 }
 @media(min-width:1161px){
     .top .top-left{
         max-width: 500px;
         padding-top: 25%;
     }     
 }
 
 
 /* <mid> */
 .mid{
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }
 .mid .mid-left{
     padding-top: 100px;
     box-sizing: border-box;
 }
 .mid .mid-right{
     padding-top: 100px;
     min-width: 265px;
     box-sizing: border-box;
     order: 1;
 }
 .mid span{
     font-size: 48px;
 }
 .mid h2{
     text-align: left;
 }
 .mid img{
     display: block;
     width: 100%;
     min-width: 265px;
 }
 @media screen and (max-width:575px ){
     .mid{
         flex-direction: column;
         padding-top: 0;
     }
     .mid .mid-right{
         width: 100%;
         min-width: 265px;
         padding: 10px;
         /* box-sizing: border-box; */
     }
     .t-margin{
         margin: 0;
     }
     .mid .mid-left{
         padding-top: 0;
         order: 1;
     }
 }
 @media  (min-width:576px) and (max-width: 1160px){
         .mid .mid-right{
             max-width: 360px;
             padding-top: 25%;
         }   
         .mid-left img{
             display: block;
             width: 100%;
             /* max-width: 400px; */
         }
 }
 @media(min-width:1161px){
     .mid .mid-right{
         max-width: 500px;
         padding-top: 25%;
     }     
 }
 
 /* <btm> */
 
 .btm { 
     
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }
 .btm .btm-left{
     padding-top: 100px;
     min-width: 265px;
     box-sizing: border-box;
 }
 .btm .btm-right{
     padding-top: 100px;
     box-sizing: border-box;
 }
 .btm span{
     font-size: 48px;
 }
 .btm h2{
     text-align: left;
  }
 .btm img{
     display: block;
     width: 100%;
     min-width: 265px;
 }
 
 @media screen and (max-width:575px ){
     .btm{
         flex-direction: column;
         padding-top: 0;
     }
     .btm .btm-left{
         width: 100%;
         min-width: 265px;
         padding: 10px;
         /* box-sizing: border-box; */
     }
     .btm .btm-right{
         padding-top: 0;
     }
     .t-margin{
         margin: 0;
     }
 }
 @media  (min-width:576px) and (max-width: 1160px){
         .btm .btm-left{
             /* width: 50%; */
             max-width: 360px;
             padding-top: 25%;
         }   
         .btm-right img{
             display: block;
             width: 100%;
             /* max-width: 400px; */
         }
 }
 @media(min-width:1161px){
     .btm .btm-left{
         max-width: 480px;
         padding-top: 25%;
     }     
 }

/* ------section4 block----- */

.section4{
    background-color: #D8BF8E;
    
}
.section4 h1{
    text-align: center;
    letter-spacing: 5px;
    padding-top: 80px;
    margin-bottom: 90px;

}
.section4 ul{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;

}
.section4 ul li{
    width: 340px;
    background-color:#ECDFC6;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
    /* flex-grow: 1; */
    
}
.section4 ul li:hover{
    /* flex-grow: 2; */
    animation: img .8s ease forwards;
}
@keyframes img{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.06);
    }
}
.section4 li img{
    width: 100%;
}
.section4 li h2{
    margin: 10px 0 20px;
}
.section4 li p{
    margin-bottom: 40px;
    padding: 0 20px;
}
.section4 li p a.more{
    text-decoration: none;
    color:#63835D ;
}

/* .section4 .btn{
    display: flex;
}  */

.section4 .btn a{
    width: 200px;
    height: 60px;
    background-color: #63835D;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 60px;
    margin: 50px auto 100px;
   
}
.section4 .btn a:hover{
    background-color:#ECDFC6;
    color: #63835D;
    outline: 2px solid #63835D;
    
}
.section4 li .li-first{
    min-height: 890px;
}