@import url('../style/reset.css');

/* * { outline: 1px solid red;}  */

body{
    width: 100%;
    /* min-width: 1160px; */
	line-height: 1.6;
	font-size: 16px;
    /* background-color:  #E8DCC8; */

}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 18px;
}

/* ...... section1 ....... */
.section1{
    background-color:  #E8DCC8; 
    position: relative;
   
}
.section1 > img{
    display: block;
    width: 100%;
    margin: 0 auto;
   
}
.section1 .arrow {
    display: block;
    width: 15px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    /* z-index: 1; */
}
/* ...... section2 ....... */
.section2{
    background-color: #E2CFA9;
    /* overflow: hidden; */
}
.section2 .slick-dots{
    background-color: #E2CFA9;
    position: relative;
    bottom: 0;
    padding-bottom: 15px;
}
.slick-block{
    cursor: pointer;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.section2 .main-pic{
    width: 100%;
    clear: both;
    display: block;
}
.bottom{
    overflow: hidden;
    padding: 0 10px 70px 15px;
}
.bottom-left{
    float: left;
}
.bottom-right {
    float: right;
    margin-right: 30px;  
}
.bottom-right li{
    display: inline-block;
    width: 20px;
    margin-left: 5px; 
    margin-top: 12px;
}
.clear{
    clear: both;
}
/* ...... section3 ....... */
.section3{
    background-color: #B1B9A3;
    text-align: center;
    padding-top:70px ;  
    padding-bottom: 5px;
    overflow: hidden;
    
}
.section3 h1{
    letter-spacing: 5px;
}
.section3 h2{
    padding: 10px 0 40px;
    letter-spacing: 2px;
}
.section3 ul.product-list{
    /* width: 120%;
    height: 400px;
    display: flex;
    transform: translate(-8%);
    margin-bottom: 20px;  */
    /* justify-content: space-between; */
    /* padding-bottom: 20px;  */
    /* display: flex;
    flex-wrap: wrap; */
}

/* .section3 .product-list li{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    width: 220px;
} */
.section3 .product-list span{
    font-size: 20px;
}
.product-list img:hover{
    outline: 2.5px solid  #6B7F5A;
}

.product-list img{
    max-width: 220px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
 .section3 .product-list a {
    color: #000;
    text-align: center;
    text-decoration: none;
    padding:20px 0;
}  

.section3 .product-list a li{
    transition: .3s ease;
}
 .section3 .product-list a:hover li{
    transform: scale(1.05) translateY(0);
    transition: .6s ease;
    /* animation: img .6s ease forwards; */
} 
/* @keyframes img{
    0%{
        transform: scale(1) translateY(0);
    }
    100%{
        transform: scale(1.05)translateY(-20px);
    }
} */

.section3 .btn{
    text-decoration: none;
    display: block;
    background-color: #ECDFC6;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #6B7F5A;
    text-align: center;
    margin: 0 auto 100px;
    font-size: 20px;
   
}
 .section3 .btn:hover{
    background-color: #E2CFA9;
}

/* ...... section4 ....... */
.section4{
    /* position: relative; */
    background-image: url(../img/00index/pic02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px 0;
}

.section4 img{
    width: 100%;
    display: block;
}
.section4 .text{
    
    color: rgb(233, 233, 233);
    text-align: center;
}
.section4 .text h1{
   margin-bottom: 10px;
}
/* ...... section5 ....... */
.section5{
    height: 100%;
    background-image:linear-gradient(180deg,rgba(216, 219 ,208) 0%, rgba(107, 127 ,90) 100%);
}
/* <top> */

.top{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}
.top .top-left{
    /* width: 50%; */
    min-width: 265px;
    padding-top: 25%;
    box-sizing: border-box;
    
}
.top .top-right{
    box-sizing: border-box;
}
.t-margin{
    margin: 10px;
}
.top-left span{
    font-size: 48px;
}
.top-left h2{
    text-align: left;
}
.top-right img{
    display: block;
    width: 100%;
    min-width: 265px;
}

@media (max-width:575px ){
    .top{
        flex-direction: column;
        padding-top: 0;
    }
    .top .top-left{
        width: 100%;
        /* min-width: 265px; */
        padding: 10px;
        box-sizing: border-box;
    }
    .t-margin{
        margin: 0;
    }
    .section4{
        background-attachment: scroll;
        background-size: cover;
    }
    .section4 h2{
        padding: 0 5px;
    }
}

@media (min-width:576px) and (max-width: 1160px){
    .top .top-left{
        /* width: 50%; */
        max-width: 400px;
        padding-top: 25%;
    }   
    .top-right img{
        display: block;
        width: 100%;
        /* max-width: 400px; */
    }
}

@media (min-width:1161px ){
    .top .top-left{
        width: 50%;
        max-width: 550px;
        padding-top: 25%;
    }     
}
/* <mid> */

.mid{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.mid .mid-right{
   order: 1;
   box-sizing: border-box;
   width: 100%;
   min-width: 265px;
}
.mid .mid-left{
    padding-top: 200px;
    box-sizing: border-box;
}
.mid-right span{
    font-size: 48px;
}
.mid-right h2{
    text-align: left;
}
.mid-left img{
    display: block;
    width: 100%;
    min-width: 265px;
}
@media  (max-width:575px ){
    .mid{
        flex-direction: column;
        padding-top: 0;
    }
    .mid .mid-left{
        width: 100%;
        order: 1; 
        padding-top: 0;
    }
    .t-margin{
        margin: 0;
    }
     .mid .mid-right{
        padding: 10px;
     }
     

}
@media  (min-width:576px) and (max-width: 1160px){
    .mid .mid-right{
        /* width: 50%; */
        max-width: 400px;
       
    }   
    .mid-left img{
        display: block;
        width: 100%;
        /* max-width: 400px; */
    }
}
@media  (min-width:1161px ){
    .mid .mid-right{
        width: 50%;
        max-width: 550px;     
    }   
}

/* <btm> */

.btm { 
   margin: 50px 0;
   display: flex;
   justify-content: center;
   
}
.btm .btm-right{
    box-sizing: border-box;
}
.btm .btm-left{
    width: 100%;
    min-width: 265px;
    box-sizing: border-box;
    padding-top: 25%;

}
.btm span{
    font-size: 48px;
  
}
.btm h2{
    text-align: left;
 }
.btm img{
    display: block;
    width: 100%;
    min-width: 265px;
}
@media  (max-width:575px ){
    .btm{
        flex-direction: column;
        padding-top: 0;
    }
    .t-margin{
        margin: 0;
    }
    .btm .btm-left{
        width: 100%;
        /* min-width: 265px; */
        padding: 10px;
    }
    

}    
@media  (min-width:576px) and (max-width: 1160px){
    .btm .btm-left{
        /* width: 50%; */
        max-width: 400px;
        padding-top: 25%;
    }   
    .btm-right img{
        display: block;
        width: 100%;
        /* max-width: 400px; */
    }
}
@media (min-width:1161px ){
    .btm .btm-left{
        width: 50%;
        max-width: 550px;     
    }   
}


/* 首頁滑動scroll動畫 */

section {
    position: relative;
    width: 100%;
    height: 100%;
  } 
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }
  
  .scroll_btn{
      position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -23px;
  }
  .scroll a {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color:#f0f0f0;
    font : normal 400 14px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
 .scroll a:hover {
    opacity: .5;
  }
  #section03{
      /* outline: 1px solid red; */
  }
  #section03 a {
    padding-top: 55px;
  }
  #section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid#f0f0f0;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  /* =========== swiper =========== */
  
  .section3 .swiper-container {
    width: 100%;
    height: 100%;
  }

  .section3 .swiper-slide {
    text-align: center;
    font-size: 18px;
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-pagination {
    position: relative;
    padding-bottom: 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    /* background: var(--swiper-pagination-color,var(--swiper-theme-color)); */
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #353535;
}