@import url('../style/reset.css');

/* *{outline: 1px solid red;} */

/* ...... 共用 nav bar ....... */
.nav{
    background-color: #E2CFA9;
    padding: 25px 30px 20px;
    /* box-sizing: border-box; */

}
.nav .logo1{
    max-width: 80px;
    width: 100%;
    
}
.nav ul.menu{
   float: right;
   display: flex;
   box-sizing: border-box;
}
.nav ul.menu .btn{
    /* display: inline-block; */
    margin-left: 45px;
    margin-top: 40px;
    position: relative;   
}
.nav .btn a{
    text-decoration: none;
    color: #000;
}
.nav .btn1 i{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* /img/00index/icon01@2x.png */
    background-image: url(../img/00index/icon01@2x.png);
    background-size: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 23px;
    opacity: 0;
}

.nav .btn2 i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/00index/icon02@2x.png);
    background-size: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 23px;
    opacity: 0;

}
.nav .btn3 i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/00index/icon03@2x.png);
    background-size: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 23px;
    opacity: 0;
}
.nav .btn:hover i, .nav .btn.active i{
    opacity: 1;
} 
.nav .btn7{
    margin-left: 45px;
    margin-top: 40px;
    width: 22px;
}

@media screen and (max-width:575px ){
    .nav .logo1{
        max-width: 60px;
        width: 100%;
     
    }
}


/* 下拉選單 */

.nav li.select{
    position: relative;
}
.nav li.select:hover ul.shop-list{
    display: block;
}

ul.shop-list{
    display:none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25;
    left: 0;
}

.nav .select ul.shop-list li{
    list-style: none;
    width: 100px;
}

.nav .select ul.shop-list a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: left;
}
.nav .select ul.shop-list a:hover{
    color:#8D9A7B;
}


/* ...... 共用 footer block ....... */

.footer{
    background-color: #E2CFA9;
    display: flex;
    padding: 50px 70px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.footer .box-left img{
    height: 100%;
    max-height: 150px;
}
.footer .box-center{
    min-width: 300px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}
.box-right .box-right-block a{
    text-decoration: none;
    margin-left: 10px;
}
.box-right .box-right-block img{
    width: 30px;
}
.box-right-block a .line{
    transform: translateY(2px);
}
@media screen and (max-width:575px ){
    .footer .box-left img{
        height: 100%;
        max-height: 100px;
    }
    .footer{
        
        flex-direction: column;
        padding: 50px 70px;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
    }
}
@media screen and (min-width:714px )and (max-width: 828px){
    .box-right .box-right-block{
        width: 131px;
    }
    .footer{
        padding: 50px 50px;
    }
}